alembic==1.13.1
Flask==3.0.3
Flask_Cors==4.0.0
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
ml==0.0.0
numpy==1.26.4
Pillow==10.3.0
segmentation_models_pytorch==0.3.3
SQLAlchemy==2.0.29
torch==2.2.1
torch==2.2.1+cu118
ultralytics==8.1.33
Werkzeug==3.0.2
